  #page_header {
    min-height: 10vh;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    
    background-color: aqua;
  }
    

#page_main{
   min-height: 80vh;
}
  

 .page_article{

    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  
    
   
  }

  .page_article> img {
    width: 100%;
    place-items: center;
    
  }

  footer {
  
    min-height: 10vh;
    display: grid;

    justify-items: start;
    align-items: end;
    background-color: aquamarine;
  }

